div.form
{
  display: block;
  text-align: center;
}
form
{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.header
{
  display: block;
  text-align: center;
}
div.title
{
  display: block;
  text-align: center;
  position: absolute;
  bottom: 110px;
  width: 95%;
}
div.score
{
  display: block;
  text-align: center;
  position: absolute;
  bottom: 80px;
  width: 95%;
}

body {
  background-image: url(public/bowling.jpg);
  background-size: cover;
}
